
  <%= link_to "Caltrans Road & Traffic", "http://www.dot.ca.gov/roadsandtraffic.html" %>

  <div class="column_inner">
<div class="cleaner">&nbsp;</div>

<!-- pageContent -->

<h1>Current Highway Information</h1>
<h1>Select Up to Four Highways to be Displayed</h1>
<h3>Click on the four highways desired</h3>

<h4>Interstate Highways</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 5 to 980</p></th>
  </tr>
  <tr>
    <td><%= link_to "I-5", "roads_input?road=i5" %></td>
    <td><%= link_to "I-8", "roads_input?road=i8" %></td>
    <td><%= link_to "I-10", "roads_input?road=i10" %></td>
    <td><%= link_to "I-15", "roads_input?road=i15" %></td>
    <td><%= link_to "I-40", "roads_input?road=i40" %></td>
    <td><%= link_to "I-80", "roads_input?road=i80" %></td>
    <td><%= link_to "I-105", "roads_input?road=i105" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-110", "roads_input?road=i110" %></td>
    <td><%= link_to "I-205", "roads_input?road=i205" %></td>
    <td><%= link_to "I-210", "roads_input?road=i210" %></td>
    <td><%= link_to "I-215", "roads_input?road=i215" %></td>
    <td><%= link_to "I-280", "roads_input?road=i280" %></td>
    <td><%= link_to "I-380", "roads_input?road=i380" %></td>
    <td><%= link_to "I-405", "roads_input?road=i405" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-505", "roads_input?road=i505" %></td>
    <td><%= link_to "I-580", "roads_input?road=i580" %></td>
    <td><%= link_to "I-605", "roads_input?road=i605" %></td>
    <td><%= link_to "I-680", "roads_input?road=i680" %></td>
    <td><%= link_to "I-710", "roads_input?road=i710" %></td>
    <td><%= link_to "I-780", "roads_input?road=i780" %></td>
    <td><%= link_to "I-805", "roads_input?road=i805" %></td>
  </tr>
  <tr>
    <td><%= link_to "I-880", "roads_input?road=i880" %></td>
    <td><%= link_to "I-980", "roads_input?road=i980" %></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<h4>US Highways in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 6 to 395</p></th>
  </tr>
  <tr>
    <td><%= link_to "US-6", "roads_input?road=us6" %></td>
    <td><%= link_to "US-50", "roads_input?road=us50" %></td>
    <td><%= link_to "US-95", "roads_input?road=us95" %></td>
    <td><%= link_to "US-97", "roads_input?road=us97" %></td>
    <td><%= link_to "US-101", "roads_input?road=us101" %></td>
    <td><%= link_to "US-199", "roads_input?road=us199" %></td>
    <td><%= link_to "US-395", "roads_input?road=us395" %></td>
  </tr>
</tbody></table>

<h4>State Routes in California</h4>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 1 to 46</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-1", "roads_input?road=sr1" %></td>
    <td><%= link_to "SR-2", "roads_input?road=sr2" %></td>
    <td><%= link_to "SR-3", "roads_input?road=sr3" %></td>
    <td><%= link_to "SR-4", "roads_input?road=sr4" %></td>
    <td><%= link_to "SR-9", "roads_input?road=sr9" %></td>
    <td><%= link_to "SR-12", "roads_input?road=sr12" %></td>
    <td><%= link_to "SR-13", "roads_input?road=sr13" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-14", "roads_input?road=sr14" %></td>
    <td><%= link_to "SR-16", "roads_input?road=sr16" %></td>
    <td><%= link_to "SR-17", "roads_input?road=sr17" %></td>
    <td><%= link_to "SR-18", "roads_input?road=sr18" %></td>
    <td><%= link_to "SR-19", "roads_input?road=sr19" %></td>
    <td><%= link_to "SR-20", "roads_input?road=sr20" %></td>
    <td><%= link_to "SR-22", "roads_input?road=sr22" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-23", "roads_input?road=sr23" %></td>
    <td><%= link_to "SR-24", "roads_input?road=sr24" %></td>
    <td><%= link_to "SR-25", "roads_input?road=sr25" %></td>
    <td><%= link_to "SR-26", "roads_input?road=sr26" %></td>
    <td><%= link_to "SR-27", "roads_input?road=sr27" %></td>
    <td><%= link_to "SR-28", "roads_input?road=sr28" %></td>
    <td><%= link_to "SR-29", "roads_input?road=sr29" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-30", "roads_input?road=sr30" %></td>
    <td><%= link_to "SR-32", "roads_input?road=sr32" %></td>
    <td><%= link_to "SR-33", "roads_input?road=sr33" %></td>
    <td><%= link_to "SR-34", "roads_input?road=sr34" %></td>
    <td><%= link_to "SR-35", "roads_input?road=sr35" %></td>
    <td><%= link_to "SR-36", "roads_input?road=sr36" %></td>
    <td><%= link_to "SR-37", "roads_input?road=sr37" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-38", "roads_input?road=sr38" %></td>
    <td><%= link_to "SR-39", "roads_input?road=sr39" %></td>
    <td><%= link_to "SR-41", "roads_input?road=sr41" %></td>
    <td><%= link_to "SR-43", "roads_input?road=sr43" %></td>
    <td><%= link_to "SR-44", "roads_input?road=sr44" %></td>
    <td><%= link_to "SR-45", "roads_input?road=sr45" %></td>
    <td><%= link_to "SR-46", "roads_input?road=sr46" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 47 to 86</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-47", "roads_input?road=sr47" %></td>
    <td><%= link_to "SR-48", "roads_input?road=sr48" %></td>
    <td><%= link_to "SR-49", "roads_input?road=sr49" %></td>
    <td><%= link_to "SR-51", "roads_input?road=sr51" %></td>
    <td><%= link_to "SR-52", "roads_input?road=sr52" %></td>
    <td><%= link_to "SR-53", "roads_input?road=sr53" %></td>
    <td><%= link_to "SR-54", "roads_input?road=sr54" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-55", "roads_input?road=sr55" %></td>
    <td><%= link_to "SR-56", "roads_input?road=sr56" %></td>
    <td><%= link_to "SR-57", "roads_input?road=sr57" %></td>
    <td><%= link_to "SR-58", "roads_input?road=sr58" %></td>
    <td><%= link_to "SR-59", "roads_input?road=sr59" %></td>
    <td><%= link_to "SR-60", "roads_input?road=sr60" %></td>
    <td><%= link_to "SR-61", "roads_input?road=sr61" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-62", "roads_input?road=sr62" %></td>
    <td><%= link_to "SR-63", "roads_input?road=sr63" %></td>
    <td><%= link_to "SR-65", "roads_input?road=sr65" %></td>
    <td><%= link_to "SR-66", "roads_input?road=sr66" %></td>
    <td><%= link_to "SR-67", "roads_input?road=sr67" %></td>
    <td><%= link_to "SR-68", "roads_input?road=sr68" %></td>
    <td><%= link_to "SR-70", "roads_input?road=sr70" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-71", "roads_input?road=sr71" %></td>
    <td><%= link_to "SR-72", "roads_input?road=sr72" %></td>
    <td><%= link_to "SR-73", "roads_input?road=sr73" %></td>
    <td><%= link_to "SR-74", "roads_input?road=sr74" %></td>
    <td><%= link_to "SR-75", "roads_input?road=sr75" %></td>
    <td><%= link_to "SR-76", "roads_input?road=sr76" %></td>
    <td><%= link_to "SR-77", "roads_input?road=sr77" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-78", "roads_input?road=sr78" %></td>
    <td><%= link_to "SR-79", "roads_input?road=sr79" %></td>
    <td><%= link_to "SR-82", "roads_input?road=sr82" %></td>
    <td><%= link_to "SR-83", "roads_input?road=sr83" %></td>
    <td><%= link_to "SR-84", "roads_input?road=sr84" %></td>
    <td><%= link_to "SR-85", "roads_input?road=sr85" %></td>
    <td><%= link_to "SR-86", "roads_input?road=sr86" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 87 to 132</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-87", "roads_input?road=sr87" %></td>
    <td><%= link_to "SR-88", "roads_input?road=sr88" %></td>
    <td><%= link_to "SR-89", "roads_input?road=sr89" %></td>
    <td><%= link_to "SR-90", "roads_input?road=sr90" %></td>
    <td><%= link_to "SR-91", "roads_input?road=sr91" %></td>
    <td><%= link_to "SR-92", "roads_input?road=sr92" %></td>
    <td><%= link_to "SR-94", "roads_input?road=sr94" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-96", "roads_input?road=sr96" %></td>
    <td><%= link_to "SR-98", "roads_input?road=sr98" %></td>
    <td><%= link_to "SR-99", "roads_input?road=sr99" %></td>
    <td><%= link_to "SR-103", "roads_input?road=sr103" %></td>
    <td><%= link_to "SR-104", "roads_input?road=sr104" %></td>
    <td><%= link_to "SR-107", "roads_input?road=sr107" %></td>
    <td><%= link_to "SR-108", "roads_input?road=sr108" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-109", "roads_input?road=sr109" %></td>
    <td><%= link_to "SR-111", "roads_input?road=sr111" %></td>
    <td><%= link_to "SR-112", "roads_input?road=sr112" %></td>
    <td><%= link_to "SR-113", "roads_input?road=sr113" %></td>
    <td><%= link_to "SR-114", "roads_input?road=sr114" %></td>
    <td><%= link_to "SR-115", "roads_input?road=sr115" %></td>
    <td><%= link_to "SR-116", "roads_input?road=sr116" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-118", "roads_input?road=sr118" %></td>
    <td><%= link_to "SR-119", "roads_input?road=sr119" %></td>
    <td><%= link_to "SR-120", "roads_input?road=sr120" %></td>
    <td><%= link_to "SR-121", "roads_input?road=sr121" %></td>
    <td><%= link_to "SR-123", "roads_input?road=sr123" %></td>
    <td><%= link_to "SR-124", "roads_input?road=sr124" %></td>
    <td><%= link_to "SR-125", "roads_input?road=sr125" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-126", "roads_input?road=sr126" %></td>
    <td><%= link_to "SR-127", "roads_input?road=sr127" %></td>
    <td><%= link_to "SR-128", "roads_input?road=sr128" %></td>
    <td><%= link_to "SR-129", "roads_input?road=sr129" %></td>
    <td><%= link_to "SR-130", "roads_input?road=sr130" %></td>
    <td><%= link_to "SR-131", "roads_input?road=sr131" %></td>
    <td><%= link_to "SR-132", "roads_input?road=sr132" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 133 to 170</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-133", "roads_input?road=sr133" %></td>
    <td><%= link_to "SR-134", "roads_input?road=sr134" %></td>
    <td><%= link_to "SR-135", "roads_input?road=sr135" %></td>
    <td><%= link_to "SR-136", "roads_input?road=sr136" %></td>
    <td><%= link_to "SR-137", "roads_input?road=sr137" %></td>
    <td><%= link_to "SR-138", "roads_input?road=sr138" %></td>
    <td><%= link_to "SR-139", "roads_input?road=sr139" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-140", "roads_input?road=sr140" %></td>
    <td><%= link_to "SR-141", "roads_input?road=sr141" %></td>
    <td><%= link_to "SR-142", "roads_input?road=sr142" %></td>
    <td><%= link_to "SR-144", "roads_input?road=sr144" %></td>
    <td><%= link_to "SR-145", "roads_input?road=sr145" %></td>
    <td><%= link_to "SR-146", "roads_input?road=sr146" %></td>
    <td><%= link_to "SR-147", "roads_input?road=sr147" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-149", "roads_input?road=sr149" %></td>
    <td><%= link_to "SR-150", "roads_input?road=sr150" %></td>
    <td><%= link_to "SR-151", "roads_input?road=sr151" %></td>
    <td><%= link_to "SR-152", "roads_input?road=sr152" %></td>
    <td><%= link_to "SR-153", "roads_input?road=sr153" %></td>
    <td><%= link_to "SR-154", "roads_input?road=sr154" %></td>
    <td><%= link_to "SR-155", "roads_input?road=sr155" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-156", "roads_input?road=sr156" %></td>
    <td><%= link_to "SR-158", "roads_input?road=sr158" %></td>
    <td>SR-159</td>
    <td><%= link_to "SR-160", "roads_input?road=sr160" %></td>
    <td><%= link_to "SR-161", "roads_input?road=sr161" %></td>
    <td><%= link_to "SR-162", "roads_input?road=sr162" %></td>
    <td><%= link_to "SR-163", "roads_input?road=sr163" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-164", "roads_input?road=sr164" %></td>
    <td><%= link_to "SR-165", "roads_input?road=sr165" %></td>
    <td><%= link_to "SR-166", "roads_input?road=sr166" %></td>
    <td><%= link_to "SR-167", "roads_input?road=sr167" %></td>
    <td><%= link_to "SR-168", "roads_input?road=sr168" %></td>
    <td><%= link_to "SR-169", "roads_input?road=sr169" %></td>
    <td><%= link_to "SR-170", "roads_input?road=sr170" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 172 to 219</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-172", "roads_input?road=sr172" %></td>
    <td><%= link_to "SR-173", "roads_input?road=sr173" %></td>
    <td><%= link_to "SR-174", "roads_input?road=sr174" %></td>
    <td><%= link_to "SR-175", "roads_input?road=sr175" %></td>
    <td><%= link_to "SR-177", "roads_input?road=sr177" %></td>
    <td><%= link_to "SR-178", "roads_input?road=sr178" %></td>
    <td><%= link_to "SR-180", "roads_input?road=sr180" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-182", "roads_input?road=sr182" %></td>
    <td><%= link_to "SR-183", "roads_input?road=sr183" %></td>
    <td><%= link_to "SR-184", "roads_input?road=sr184" %></td>
    <td><%= link_to "SR-185", "roads_input?road=sr185" %></td>
    <td><%= link_to "SR-186", "roads_input?road=sr186" %></td>
    <td><%= link_to "SR-187", "roads_input?road=sr187" %></td>
    <td><%= link_to "SR-188", "roads_input?road=sr188" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-189", "roads_input?road=sr189" %></td>
    <td><%= link_to "SR-190", "roads_input?road=sr190" %></td>
    <td><%= link_to "SR-191", "roads_input?road=sr191" %></td>
    <td><%= link_to "SR-192", "roads_input?road=sr192" %></td>
    <td><%= link_to "SR-193", "roads_input?road=sr193" %></td>
    <td><%= link_to "SR-195", "roads_input?road=sr195" %></td>
    <td><%= link_to "SR-197", "roads_input?road=sr197" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-198", "roads_input?road=sr198" %></td>
    <td><%= link_to "SR-200", "roads_input?road=sr200" %></td>
    <td><%= link_to "SR-201", "roads_input?road=sr201" %></td>
    <td><%= link_to "SR-202", "roads_input?road=sr202" %></td>
    <td><%= link_to "SR-203", "roads_input?road=sr203" %></td>
    <td><%= link_to "SR-204", "roads_input?road=sr204" %></td>
    <td><%= link_to "SR-207", "roads_input?road=sr207" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-209", "roads_input?road=sr209" %></td>
    <td><%= link_to "SR-211", "roads_input?road=sr211" %></td>
    <td><%= link_to "SR-213", "roads_input?road=sr213" %></td>
    <td><%= link_to "SR-216", "roads_input?road=sr216" %></td>
    <td><%= link_to "SR-217", "roads_input?road=sr217" %></td>
    <td><%= link_to "SR-218", "roads_input?road=sr218" %></td>
    <td><%= link_to "SR-219", "roads_input?road=sr219" %></td>
  </tr>
</tbody></table>

<p>&nbsp;</p>
<table>
  <tbody><tr>
    <th colspan="7"><p>Routes 220 to 371</p></th>
  </tr>
  <tr>
    <td><%= link_to "SR-220", "roads_input?road=sr220" %></td>
    <td><%= link_to "SR-221", "roads_input?road=sr221" %></td>
    <td><%= link_to "SR-222", "roads_input?road=sr222" %></td>
    <td><%= link_to "SR-223", "roads_input?road=sr223" %></td>
    <td><%= link_to "SR-224", "roads_input?road=sr224" %></td>
    <td><%= link_to "SR-225", "roads_input?road=sr225" %></td>
    <td><%= link_to "SR-227", "roads_input?road=sr227" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-229", "roads_input?road=sr229" %></td>
    <td><%= link_to "SR-236", "roads_input?road=sr236" %></td>
    <td><%= link_to "SR-237", "roads_input?road=sr237" %></td>
    <td><%= link_to "SR-238", "roads_input?road=sr238" %></td>
    <td><%= link_to "SR-241", "roads_input?road=sr241" %></td>
    <td>.</td>
    <td>.</td>
  </tr>
  <tr>
    <td><%= link_to "SR-242", "roads_input?road=sr242" %></td>
    <td><%= link_to "SR-243", "roads_input?road=sr243" %></td>
    <td><%= link_to "SR-244", "roads_input?road=sr244" %></td>
    <td><%= link_to "SR-245", "roads_input?road=sr245" %></td>
    <td><%= link_to "SR-246", "roads_input?road=sr246" %></td>
    <td><%= link_to "SR-247", "roads_input?road=sr247" %></td>
    <td><%= link_to "SR-252", "roads_input?road=sr252" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-253", "roads_input?road=sr253" %></td>
    <td><%= link_to "SR-254", "roads_input?road=sr254" %></td>
    <td><%= link_to "SR-255", "roads_input?road=sr255" %></td>
    <td><%= link_to "SR-259", "roads_input?road=sr259" %></td>
    <td><%= link_to "SR-260", "roads_input?road=sr260" %></td>
    <td><%= link_to "SR-262", "roads_input?road=sr262" %></td>
    <td><%= link_to "SR-263", "roads_input?road=sr263" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-265", "roads_input?road=sr265" %></td>
    <td><%= link_to "SR-266", "roads_input?road=sr266" %></td>
    <td><%= link_to "SR-267", "roads_input?road=sr267" %></td>
    <td><%= link_to "SR-269", "roads_input?road=sr269" %></td>
    <td><%= link_to "SR-270", "roads_input?road=sr270" %></td>
    <td><%= link_to "SR-271", "roads_input?road=sr271" %></td>
    <td><%= link_to "SR-273", "roads_input?road=sr273" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-274", "roads_input?road=sr274" %></td>
    <td><%= link_to "SR-275", "roads_input?road=sr275" %></td>
    <td><%= link_to "SR-281", "roads_input?road=sr281" %></td>
    <td><%= link_to "SR-282", "roads_input?road=sr282" %></td>
    <td><%= link_to "SR-283", "roads_input?road=sr283" %></td>
    <td><%= link_to "SR-284", "roads_input?road=sr284" %></td>
    <td><%= link_to "SR-299", "roads_input?road=sr299" %></td>
  </tr>
  <tr>
    <td><%= link_to "SR-330", "roads_input?road=sr330" %></td>
    <td><%= link_to "SR-371", "roads_input?road=sr371" %></td>
    <td><%= link_to "SR-905", "roads_input?road=sr905" %></td>
    <td><p>End</p></td>
    <td>.</td>
    <td>.</td>
    <td>.</td>
  </tr>
</tbody></table>

<!-- footer -->
</div>